
/* header */
header {
  width: 100%;
  position: relative;
  z-index: 30;
background: pink;
}

header .header_logo {
  /* padding: 40px 0 22px; */
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 1280px;
  height: 90px;
background:pink;
}

header .header_logo h1 {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  
}

header h1 img {
  width: 160px;
  position:absolute;top:30px;
  left:50%;transform: translateX(-50%);
}



#h_top {
  position: absolute;
  top: 30px;
  right: 30px;
}

#h_top ul {}

#h_top ul li {
  float: left;
}

#h_top ul li a {
  display: block;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 4px 12px;
  margin-left: 10px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #333;
  transition: all 0.4s;
}
#h_top ul li:hover a{
  background-color: #333;
  color:#fff;
}
#h_top ul li a.earth {
  width: 32.5px;
  padding: 5px 0;
  background: url(/images/icon_global_subway.png) no-repeat center;
}
#h_top ul li:hover a.earth {
  background: #333 url(/images/icon_global_subway2.png) no-repeat center;
}




header .header_menu {  
  width: 100%;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 90px;
  transition: box-shadow 0.3s ease;
  /* background:rgba(255, 255, 255, 0.9); */
}
header .header_menu.fixed{
  position: fixed;
  top: -1px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
  z-index: 1000;
}


nav {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  /* background-color: #999; */
  text-align: center;
  position: relative;
}

nav>ul {
  width: 100%;
  height: 50px;
  /* background-color: #ccc; */
  position: absolute;
  overflow: hidden;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 1);
}

nav>ul:hover {
  height: 250px;
}

nav>ul>li {
  display: inline-block;
  vertical-align: top;
}

nav>ul>li>a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  position: relative;
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

nav>ul>li:hover>a {
  color: #527e3f;
}

nav>ul>li>a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  /* transform-origin: left top; */
  width: 100%;
  /*margin-left:25%;*/
  height: 2px;
  /* background-color: #333; */
  background-color: #527e3f;
  transform: scale(0, 1);
  transition: all 0.5s;
}

nav>ul>li:hover>a::after {
  transform: scale(1, 1);
}

nav ul li ul li a {
  height: 40px;
  line-height: 40px;
  color: #333;
  font-weight: bold;
}

nav ul li ul li a:hover {
  color: #527e3f;
}




html {
  scroll-behavior: smooth;
}

/* top_w */
.top_w {
  position: fixed;
  right: 20px;
  bottom: 30px;
  /* display: none; */
  z-index: 30;
}

.top_w a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.5s;
}
/* 스크롤 시 표시 */
.top_w.show a{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.top_w img {
  margin-top: 17px;
}

.top_w:hover a {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}