

.visual{
  height: 800px;
  margin-top:50px;
}

.slider-section {
  /* margin-bottom: 60px;
  padding: 30px; */
  /* background-color: #f8f9fa; */
  /* border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* background:pink; */
  height:800px;

}

/* .slider-section h2 {
  color: #555;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
} */

/* Swiper 기본 스타일 */
.basic-swiper,
.autoplay-swiper,
.fade-swiper,
.multiple-swiper,
.infinite-swiper,
.custom-nav-swiper,
.fontawesome-swiper,
.image-arrow-swiper {
  width: 100%;
  height: 800px;
  margin-bottom: 20px;
}

/* .responsive-swiper {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  position: relative;
} */

/* .responsive-swiper .swiper-pagination {
  bottom: 10px !important;
  position: absolute !important;
  width: 100% !important;
  text-align: center !important;
  z-index: 10 !important;
}

.responsive-swiper .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
  margin: 0 4px !important;
}

.responsive-swiper .swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
} */

.slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* .slide-content h3 {
  margin: 0;
  font-size: 2rem;
} */



/* 커스텀 네비게이션 */
/* .custom-nav-swiper-container {
  position: relative;
}

.custom-nav-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
} */

/* .custom-prev-btn,
.custom-next-btn {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.custom-prev-btn:hover,
.custom-next-btn:hover {
  background-color: red;
}
 */


/* ------------------------------------ */
/* Swiper 네비게이션 */
.visual .swiper-button-next,
.visual .swiper-button-prev {
  color: white;
  /* background: rgba(255, 255, 255, 0.5); */
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */

}

.visual .swiper-button-next {
  margin-right: 20px;
}

.visual .swiper-button-prev {
  margin-left: 20px;
}

.visual .swiper-button-next:after,
.visual .swiper-button-prev:after {
  font-size: 35px;
}

.visual .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 1);
  position:relative;bottom:15px;
}

.visual .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
}